<html>
	<head>
		<title> Add Wine </title>
	</head>

	<body>
		<h1 class="header center orange-text"> Add New Wine</h1>
     
      	<form action = "{{url_for('new_wine', locId = location_id)}}" method = post>
			<p> Maker: </p>
			<input type = 'text' size = '30' name = 'maker'>

			<p> Varital: </p>
			<input type = 'text' size = '30' name = 'varietal'>
			
			<p> Vintage: </p>
			<input type = 'text' size = '30' name = 'vintage'>
			
			<p> Price: </p>
			<input type = 'text' size = '30' name = 'price'>
			
			<input type = submit value = 'Create'>
		</form>
      	<br><br>
     </body>
</html>


list backup

<html>
	<head>
		<title> World Listing - {{cat.location_name}}</title>
	</head>

	<body>
		<h1> Wine's of {{cat.location_name}} </h1>
		<h3> The wines are:</h3>

		{% for w in wine %}
		<h5> {{w.wine_maker}} </h5>
		<h5> {{w.wine_varietal}} </h5>
		<h5> Vintage: {{w.wine_vintage}} </h5>
		<h5> Price: {{w.wine_price}} </h5>
		<a href="{{url_for('edit_wine', locId = cat.location_id, wineId = w.wine_id)}}"> EDIT</a>
		<a href="{{url_for('delete_wine', locId = cat.location_id, wineId = w.wine_id)}}"> DELETE</a>
		<br>
		{%endfor%}
		<a href = "{{url_for('new_wine', locId = cat.location_id)}}"> Add New Wine </a>
		<br>
		<a href="{{url_for('home')}}"> Back to world map </a>
	</body>
</html>
