<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Winedurlust - {{cat[0]['location_name']}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/content/css/business-frontpage.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('main_page')}}">Winedurlust</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{url_for('about')}}">About</a>
                    </li>
                    <li>
                        <a href="{{url_for('home')}}">World Map</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Wines of {{cat[0]['location_name']}}</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">

                <a
                    href="javascript:;"
                    data-toggle="popover"
                    data-html="true"
                    class="btn btn-success btn-lg"
                    title="Popover Header"
                    data-content="<form action='{{url_for('new_wine', locId = location_id)}}' method=post>
                                    <div class='form-group'>
                                        <label>Maker:</label>
                                        <input type='text' class='form-control' name='maker'>
                                    </div>
                                    <div class='form-group'>
                                        <label>Varietal:</label>
                                        <input type='text' class='form-control' name='varietal'>
                                    </div>
                                    <div class='form-group'>
                                        <label>Vintage:</label>
                                        <input type='text' class='form-control' name='vintage'>
                                    </div>
                                    <div class='form-group'>
                                        <label>Price:</label>
                                        <input type='text' class='form-control' name='price'>
                                    </div>
                                    <button type='submit' class='btn btn-default'>Submit</button>
                                    </form>">
                    Add New Wine
                </a>

                <script>
                    $(document).ready(function(){
                        $('[data-toggle="popover"]').popover();
                    },
                    $('.popover-dismiss').popover({
  						trigger: 'focus'
					});
                </script>

                <br><br><br>
                {% for w in wine %}
				<h2> {{w['wine_varietal']}}, by {{w['wine_maker']}} </h2>
				<h4> Vintage: {{w['wine_vintage']}} </h4>
				<h4> Price: {{w['wine_price']}} </h4>

                <h6><img src = "{{w['user_picture']}}" style="width:30px;height:30px"> Creator: {{w['user_name']}} </h6>
                <p>
                    <a
                    class="btn btn-lg btn-lg"
                    href="javascript:;"
                    data-toggle="popover"
                    data-html="true"
                    data-content="<form action= '{{url_for('delete_wine', locId = location_id, wineId = w.wine_id)}}'' method = post>
      								<button type='submit' class='btn btn-default'>Delete</button>
						      	</form>">
                    Delete
                	</a>

                    <a
                    href="javascript:;"
                    data-toggle="popover"
                    data-html="true"
                    class="btn btn-lg btn-lg"
                    title="Edit"
                    data-content="<form action= '{{url_for('edit_wine', locId = location_id, wineId = w.wine_id)}}' method=post>
                                    <div class='form-group'>
                                        <label>Maker:</label>
                                        <input type='text' class='form-control' name='maker' placeholder = '{{w.wine_maker}}' value = '{{w.wine_maker}}'>
                                    </div>
                                    <div class='form-group'>
                                        <label>Varietal:</label>
                                        <input type='text' class='form-control' name='varietal' placeholder = '{{w.wine_varietal}}' value = '{{w.wine_varietal}}'>
                                    </div>
                                    <div class='form-group'>
                                        <label>Vintage:</label>
                                        <input type='text' class='form-control' name='vintage' placeholder = '{{w.wine_vintage}}' value = '{{w.wine_vintage}}'>
                                    </div>
                                    <div class='form-group'>
                                        <label>Price:</label>
                                        <input type='text' class='form-control' name='price' placeholder = '{{w.wine_price}}' value = '{{w.wine_price}}'>
                                    </div>
                                    <button type='submit' class='btn btn-default'>Submit</button>
                                    </form>">
                    Edit
                </a>
                </p>
                <hr>
                {%endfor%}
            </div>
            <div class="col-sm-4">
                <H3> Wlcome, {{wine[0]['user_name']}}! </h3>
                <hr>
                <h2>About wines of {{cat[0]['location_name']}}</h2>
                <p> {{info}} </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!--div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #1</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #3</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
