<html>

<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
	<div id = "signinButton">
		<span class = "g-signin"
			data-scope = "openid"
			data-clientid = "1072935208403-78obda9crpcnfdgn74dc5j7mptljgbsq.apps.googleusercontent.com"
			data-redirecturi = "postmessage"
			data-accestype = "offline"
			data-cookiepolicy = "single_host_origin"
			data-callback = "signInCallback"
			data-approvalprompt = "force">
		</span>
	</div>
	<script>
		console.log("Is this really working or not?");
	</script>
	<div id = "result"> </div>

	<script>
		function signInCallback(authResut)
		{
			if(authResut['code']){
				//hide sign in button

				$('#signinButton').attr('style', 'display:none');
				console.log("Inside signInCallback...");
				//send auth code down to server
				$.ajax({
					type: 'POST',
					url: '/gconnect?state={{STATE}}',
					processData: false,
					contentType: 'application/octet-stream; charset=utf-8',
					data: authResut['code'],
					success: function(result)
					{
						console.log("Inside success function....");
						if(result){
							console.log("YAYAYAYAYYA");
							$('#result').html('Login Successful!</br>'+result+"</br>Redirecting...")
							setTimeout(function()
								{window.location.href = "/explore";}, 4000);
						} else if(authResut['error']){
							console.log("There was an error..." + authResut['error']);
						} else {
							$('#result').html('Failed to make call to server. Check console, network connection and configuration!');
						}


					},
					error: function(req, err)
					{ 
						console.log('my message: ' + err);
					}
				});
			}
		}

		console.log("REALLY WORKING?");
	</script>
</body>

</html>